
html {
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #D0D0D0;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
   height: 4em;
}

.mnu{
  margin-right: 10em;
}

.ico{
  vertical-align: middle;
  font-size: 35px;
}

.nav-logo{
  vertical-align: middle;
  font-size: 25px;
}

.body-off {
  padding-top: 70px;
}

.constyle{
  font-size: 16px;
}

.constyle .title {
  border-bottom: 1px solid #d7d7d7;
  font-size: 22px;
  padding: 7px 10px 7px 10px  ;
}

.constyle .content {
  font-size: 18px;
  padding: 7px 10px 4px;
}

.constyle textarea{
  height: 130px;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
