
html {
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #D0D0D0;
}

textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}

.mnu{
  margin-right: 10em;
}

.ico{
  vertical-align: middle;
  font-size: 35px;
}

.nav-logo{
  vertical-align: middle;
  font-size: 25px;
}

.body-off {
  padding-top: 70px;
}

.constyle{
  font-size: 16px;
}

.constyle .title {
  border-bottom: 1px solid #d7d7d7;
  font-size: 22px;
  padding: 7px 10px 7px 10px;
}

.constyle .content {
  font-size: 18px;
  padding: 7px 10px 4px;
}
